/*初始化*/
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
/*左侧*/
.aside {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 100%;
  background-color: #2f4050;
  /*列表部分*/
}
.aside .user {
  padding: 30px 0;
  text-align: center;
  background-color: #243443;
  /* 头像部分*/
}
.aside .user .avatar {
  padding: 0 0 10px;
}
.aside .user .avatar img {
  width: 75px;
  height: 75px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.aside .user h4 {
  color: #a9b0c2;
}
.aside .menu {
  margin-top: 20px;
}
.aside .menu a {
  display: block;
  line-height: 2;
  color: #a9b0c2;
  padding-left: 20px;
}
.aside .menu a:hover {
  color: #F6F6F6;
  background-color: #243443;
}
.aside .menu ul {
  padding: 0;
  margin: 0;
}
.aside .menu ul i {
  margin-right: 10px;
}
.aside .menu ul ul a {
  padding-left: 40px;
}
.aside .menu ul li {
  list-style: none;
  padding: 5px 0;
}
.aside .menu ul li span {
  float: right;
  margin-right: 30px;
}
.aside .menu ul .hide {
  display: none;
}
/*右侧*/
.main {
  margin-left: 180px;
  height: 700px;
  background-color: #F5F6F8;
}
.main .header .navbar-default {
  background-color: #fff;
}
.main .header .navbar-default .navbar-brand {
  height: auto;
  line-height: 1;
  padding: 4px 6px;
  margin: 12px 0 0 15px;
  color: #FFF;
  background-color: #5cb85c;
  border-radius: 2px;
}
.main .body {
  padding: 0 20px;
}
.main .body .breadcrumb {
  background-color: #fff;
  border: 1px solid #e7e7e7;
}
.main .body .table td,
.main .body .table th {
  font-weight: normal;
  text-align: center;
}
